.section-6 {
    width: 100%;
    height: auto;
    padding: 50px 100px;

    .month-see {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        h1 {
            font-size: 40px;
            color: #331C18;
        }

        .see-icon {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                color: #331C18;
                font-size: 24px;
            }

        }

    }

    .section-3-boxes {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .new-box {
            background: #FEFAFA;

            .new-box-img {
                img {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            .new-box-text {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 20px 0;

                .star-text {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    p {
                        color: #978A89;
                        font-size: 12px;
                    }

                }

                h2 {
                    text-align: center;
                    color: #331C18;
                    font-size: 15px;
                    margin-top: 15px;
                }

                .num {
                    display: flex;
                    gap: 30px;
                    margin-top: 12px;

                    p {
                        color: #FF730D;
                        font-size: 14px;
                    }

                    del {
                        color: #978A89;
                        font-size: 14px;
                    }

                }

                button {
                    margin-top: 18px;
                    width: 170px;
                    height: 40px;
                    background: #FF730D;
                    border-radius: 8px;
                    color: white;
                    font-size: 16px;
                    border: none;

                    &:hover {
                    border: 1px solid  #FF730D;
                    background-color: white;
                    color: #FF730D;
                    }

                }

            }

        }

    }

}

@media (max-width: 600px) {
    .section-6 {
        padding: 20px;
        height: auto;

        .month-see {
            flex-direction: column;
            align-items: center;
        }

        .section-3-boxes {
            flex-direction: column;
            gap: 10px;

            .new-box-img {
                img {
                    width: 100%;
                }
            }

            h2 {
                font-size: 20px;
            }

        }

    }
}