@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

.section-1 {
  width: 100%;
  height: auto;
}

.section-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.section-1 header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.section-1 header .header-text a {
  text-decoration: none;
  font-size: 15px;
  color: #331C18;
}

.section-1 header .header-text a:hover {
  color: #6a6aee;
}

.section-1 header .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.section-1 .contanier {
  width: 100%;
  height: calc(100vh - 100px);
  background: #FFF9ED;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 .contanier .contanier-text span {
  color: #FF730D;
  font-size: 18px;
}

.section-1 .contanier .contanier-text .h1 {
  position: relative;
}

.section-1 .contanier .contanier-text .h1 h1 {
  color: #331C18;
  font-size: 60px;
  margin-top: 20px;
}

.section-1 .contanier .contanier-text .h1 .h1-ellips {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 115, 13, 0.3);
  position: absolute;
  top: -10px;
  right: 108px;
  z-index: 0;
}

.section-1 .contanier .contanier-text p {
  color: #331C18;
  font-size: 18px;
  margin-top: 20px;
}

.section-1 .contanier .contanier-text button {
  width: 170px;
  height: 50px;
  background: #FF730D;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 30px;
}

.section-1 .contanier .contanier-text button:hover {
  background-color: white;
  border: 1px solid #FF730D;
  color: #FF730D;
}

.section-1 .contanier img {
  max-width: 40%;
}

@media (max-width: 600px) {
  .section-1 {
    height: auto;
  }
  .section-1 header {
    padding: 10px;
  }
  .section-1 header .header-text {
    display: none;
  }
  .section-1 header .header-icons {
    gap: 15px;
  }
  .section-1 .contanier {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    height: auto;
  }
  .section-1 .contanier .contanier-text {
    padding: 20px;
    position: relative;
  }
  .section-1 .contanier .contanier-text span {
    text-align: center;
    display: block;
  }
  .section-1 .contanier .contanier-text .h1 {
    position: relative;
  }
  .section-1 .contanier .contanier-text .h1 h1 {
    text-align: center;
  }
  .section-1 .contanier .contanier-text .h1 .h1-ellips {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .section-1 .contanier .contanier-text p {
    font-size: 20px;
    text-align: center;
  }
  .section-1 .contanier .contanier-text button {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 50px;
  }
  .section-1 .contanier img {
    max-width: 100%;
  }
}

.section-2 {
  width: 100%;
  height: 100vh;
  padding: 0 100px;
}

.section-2 .section-2-box {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 12px rgba(82, 61, 61, 0.08);
          box-shadow: 0px 3px 12px rgba(82, 61, 61, 0.08);
  border-radius: 20px;
}

.section-2 .section-2-box .box-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.section-2 .section-2-box .box-texts p {
  color: #5C4946;
  font-size: 20px;
}

.section-2 .section-2-box .box-texts span {
  color: #5C4946;
  font-size: 16px;
}

.section-2 .month-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.section-2 .month-see h1 {
  font-size: 40px;
  color: #331C18;
}

.section-2 .month-see .see-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section-2 .month-see .see-icon p {
  color: #331C18;
  font-size: 24px;
}

.section-2 .girl-fashion-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.section-2 .girl-fashion-box .girl-box {
  width: 570px;
  height: 300px;
  background: rgba(255, 115, 13, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text h1 {
  color: #331C18;
  font-size: 30px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .num-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .num-icons b {
  color: #331C18;
  font-weight: bold;
  font-size: 14px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .num-icons p {
  color: #5C4946;
  font-size: 12px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .num p {
  color: #FF730D;
  font-size: 14px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .num del {
  color: #978A89;
  font-size: 14px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .btn-icon button {
  width: 170px;
  height: 40px;
  background: #FF730D;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .btn-icon button:hover {
  background-color: white;
  color: #FF730D;
  border: 1px solid #FF730D;
}

.section-2 .girl-fashion-box .girl-box .girl-box-text .btn-icon .heart {
  width: 40px;
  height: 40px;
  -webkit-filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.1));
  background-color: white;
  border-radius: 4px;
  padding: 10px 8px;
}

@media (max-width: 600px) {
  .section-2 {
    padding: 20px;
    height: auto;
  }
  .section-2 .section-2-box {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .section-2 .section-2-box span {
    text-align: center;
  }
  .section-2 .section-2-box p {
    font-size: 15px;
    text-align: center;
  }
  .section-2 .month-see {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .section-2 .month-see h1 {
    text-align: center;
  }
  .section-2 .girl-fashion-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .section-2 .girl-fashion-box .girl-box {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-2 .girl-fashion-box .girl-box .girl-box-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .section-2 .girl-fashion-box .girl-box .img img {
    position: relative;
    bottom: -100px;
  }
}

.section-3 {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
}

.section-3 .month-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.section-3 .month-see h1 {
  font-size: 40px;
  color: #331C18;
}

.section-3 .month-see .see-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section-3 .month-see .see-icon p {
  color: #331C18;
  font-size: 24px;
}

.section-3 .section-3-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.section-3 .section-3-boxes .new-box {
  background: #FEFAFA;
}

.section-3 .section-3-boxes .new-box .new-box-img img:hover {
  opacity: 0.7;
}

.section-3 .section-3-boxes .new-box .new-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.section-3 .section-3-boxes .new-box .new-box-text .star-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.section-3 .section-3-boxes .new-box .new-box-text .star-text p {
  color: #978A89;
  font-size: 12px;
}

.section-3 .section-3-boxes .new-box .new-box-text h2 {
  text-align: center;
  color: #331C18;
  font-size: 15px;
  margin-top: 15px;
}

.section-3 .section-3-boxes .new-box .new-box-text .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 12px;
}

.section-3 .section-3-boxes .new-box .new-box-text .num p {
  color: #FF730D;
  font-size: 14px;
}

.section-3 .section-3-boxes .new-box .new-box-text .num del {
  color: #978A89;
  font-size: 14px;
}

.section-3 .section-3-boxes .new-box .new-box-text button {
  margin-top: 18px;
  width: 170px;
  height: 40px;
  background: #FF730D;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  border: none;
}

.section-3 .section-3-boxes .new-box .new-box-text button:hover {
  border: 1px solid  #FF730D;
  background-color: white;
  color: #FF730D;
}

@media (max-width: 600px) {
  .section-3 {
    padding: 20px;
    height: auto;
  }
  .section-3 .month-see {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-3 .section-3-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .section-3 .section-3-boxes .new-box-img img {
    width: 100%;
  }
  .section-3 .section-3-boxes h2 {
    font-size: 20px;
  }
}

.section-4 {
  width: 100%;
  height: 100vh;
  padding: 50px 100px;
}

.section-4 .month-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.section-4 .month-see h1 {
  font-size: 40px;
  color: #331C18;
}

.section-4 .month-see .see-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section-4 .month-see .see-icon p {
  color: #331C18;
  font-size: 24px;
}

.section-4 .section-3-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.section-4 .section-3-boxes .new-box {
  background: #FEFAFA;
}

.section-4 .section-3-boxes .new-box .new-box-img img:hover {
  opacity: 0.7;
}

.section-4 .section-3-boxes .new-box .new-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.section-4 .section-3-boxes .new-box .new-box-text .star-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.section-4 .section-3-boxes .new-box .new-box-text .star-text p {
  color: #978A89;
  font-size: 12px;
}

.section-4 .section-3-boxes .new-box .new-box-text h2 {
  text-align: center;
  color: #331C18;
  font-size: 15px;
  margin-top: 15px;
}

.section-4 .section-3-boxes .new-box .new-box-text .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 12px;
}

.section-4 .section-3-boxes .new-box .new-box-text .num p {
  color: #FF730D;
  font-size: 14px;
}

.section-4 .section-3-boxes .new-box .new-box-text .num del {
  color: #978A89;
  font-size: 14px;
}

.section-4 .section-3-boxes .new-box .new-box-text button {
  margin-top: 18px;
  width: 170px;
  height: 40px;
  background: #FF730D;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  border: none;
}

.section-4 .section-3-boxes .new-box .new-box-text button:hover {
  border: 1px solid  #FF730D;
  background-color: white;
  color: #FF730D;
}

@media (max-width: 600px) {
  .section-4 {
    padding: 20px;
    height: auto;
  }
  .section-4 .month-see {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-4 .section-3-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .section-4 .section-3-boxes .new-box-img img {
    width: 100%;
  }
  .section-4 .section-3-boxes h2 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */